body {
  margin: 10px;
}

.card {
  width: 18rem;
  border: #d3cccc solid 2px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.card-img-top {
  /* background-color: gray; */
  width: 100%;
}

h3 {
  padding-left: 10px;
  color: #717175;
}

p {
  color: #717175;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  width: 125px;
  height: 30px;
  background-color: #0f95ec;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;  
  color: white;
  padding-top: 3px;
}
